/* ------------------ INICIO BODY ------------------ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e5e6eb;
    scrollbar-color: inherit;
}

::-webkit-scrollbar { /* OCULTAR EL SCROLLBAR DE LA PAGINA */
    display: none;
}

/* ------------------ FIN BODY ------------------ */

/* ------------------ INICIO NAV ------------------ */

nav {
    background-color: #171e28;
    position: fixed;
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 20px;
    box-sizing: border-box; /* para que no se provoce el scroll horizontal */
    text-align: center;
}

.nav__list {
    margin: 0;
    text-align: center;
}

.nav__item {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.nav__link {
    font-size: 20px;
    text-decoration: none;
    color: #f4af03;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #171e28;
}

.nav__link:hover {
    background-color: #2f3640;
    transition-property: background color, color;
    transition-duration: 0.5s;
}

.link--button {
    border: 1px solid #fff;
    background-color: #171e28;
    padding: 3px 18px;
    color: #ffffff;
    border-radius: 15px;
    margin-left: 20px;
}

.link--button:hover {
    background: #f4af03;
    color: #fff;
}

.nav__image {
    position: fixed;
    top: 10px;       
    right: 20px;     
    width: 50px;     
    height: auto;    
    z-index: 1000;   
}

/* ------------------ FIN NAV ------------------- */

.cuotas {
    text-align: center;
    align-items: center;
    margin-top: 180px;
    padding: 1px 30px;
    background-color: #0f1319;
    font-size: 16px;
    font-weight: bolder;
    color: #e5e6eb;
}

.cuotas h4 {
    text-align: center;
}

img {
    width: 70%;
    height: auto;
}

#img-banner {
    width: 100%;
    
}

#img-banner img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio extra causado por las imágenes inline */
}


/* ------------------ SNEAKERS MID INICIO ------------------ */

.product-grid h2 {
    color: #2f3640;
    text-align: left;
}

.product-grid {
    display: inline-block;
    margin: 0px 80px;
    margin-top: 100px;
    gap: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.product-card {
    background-color: #f8f8fa;
    width: 180px;
    padding: 15px;
    border-bottom: 4px solid #171e28;
    display: inline-block;
    text-align: center;
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    font-size: 16px;
    margin: 15px 0;
    color: #171e28;
    text-shadow: 0 0 1px #171e28; /* SOMBRA PARA QUE RESALTE MAS EL TEXTO */
    flex-grow: 0;
}

.product-card .price {
    font-size: 18px;
    color: #171e28;
    text-shadow: 0 0 1px #171e28;
    margin: 10px 0;
}

button {
    padding: 8px 12px;
    background-color: #171e28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f4af03;
    color: #171e28;
    transition-property: background color, color;
    transition-duration: 0.2s;
}

/* ------------------ SNEAKERS MID FIN ------------------ */
/* ------------------ CARROUSEL INICIO ------------------ */

/* CARRUSEL CONTEINER*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 100px auto 50px;
  }

  /* Botones atras/sig */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: #171e28;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 150px;
    user-select: none;
  }
  
  .prev {
    left: -72px;
  }

  /* Posicion del boton siguiente */
  .next {
    right: -72px;
    border-radius: 150px;
  }
  
  .prev:hover, .next:hover {
    background-color: #d0cfcf;
  }
  
  /* TextoGuia de en que imagen estan parados */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Puntos indicadores de en que imagen estan parados */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #f4af03;
  }

/* ------------------ CARROUSEL FIN ------------------ */

/* ------------------ TEXTO MID INICIO ------------------ */
p {
    color: #fff;
}
/* ------------------ TEXTO MID FIN ------------------ */

/* ------------------ SEGUNDA FILA DE SNEAKERS INICIO ------------------ */
.product-grid-2 {
    display: inline-block;
    margin: 20px 80px;
    margin-top: 90px;
    margin-bottom: 80px;
    gap: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.product-grid-2 h2 {
    color: #2f3640;
    text-align: left;
}

/* ------------------ SEGUNDA FILA DE SNEAKERS FIN ------------------ */

/* ------------------ IMG MID INICIO ------------------ */

.lil--nas {
    margin-top: 70px;
    text-align: center;
}

#lil-nas {
    width: 540px;
    height: 500px;
    border-radius: 7px;
    padding-right: 50px;
}

#lil-nas-shoe {
    width: 490px;
    height: 500px;
    border-radius: 7px;
    justify-items: center;
}

.lil--nas h3 {
    font-size: 30px;
    color: #171e28;
}

.lil--nas p {
    font-size: 20px;
    color: #171e28;
    width: 60%;
    margin: 0 auto;
}

/* ------------------ IMG MID FIN ------------------ */
/* ------------------ FOOTER INICIO ------------------ */
footer {
    margin-top: 90px;
    text-align: center;
    padding: 30px 0;
    background-color: #171e28;
}

#brand {
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.full-width-border {
    padding-top: 10px;
    width: 100%;
    border-bottom: 2px solid #262a2f;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.column {
    width: 30%;
}

.column h3 {
    color: #f4af03;
    border-bottom: 2px solid #f4af03;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.column ul {
    padding: 0;
}

.column ul li {
    margin: 5px 0;
    list-style: none;
}

.column a {
    text-decoration: none;
    color: #996f04;
}

.column ul li a:hover {
    color: #f4af03;
    transition-property: color;
    transition-duration: 0.2s;
}

.imagenes img {
    width: 120px;
    padding: 35px;
    padding-top: 0px;
}

#logoFooter {
    width: 60%;
    margin-top: 50px;
}
/* ------------------ FOOTER FIN ------------------ */