body {
    margin: 0;
    color: #f4af03;
    background-color: #2f3640;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ------------------ INICIO NAV ------------------ */

nav {
    background-color: #171e28;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; /* para que no se provoce el scroll horizontal */
    position: relative; /* Para que el nav se posicione normalmente */
}

.nav__list {
    margin: 0;
    text-align: center;
}

.nav__item {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.nav__link {
    font-size: 20px;
    text-decoration: none;
    color: #f4af03;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #171e28;
}

.nav__link:hover {
    background-color: #2f3640;
    transition-property: background color, color;
    transition-duration: 0.5s;
}

/* ------------------ FIN NAV ------------------ */

/* ------------------ INICIO FORM ------------------ */

.form {
    margin-top: 80px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
}
.form__input-container :is(input,textarea) {
    width: 100%;
    padding: 9px 6px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 0px 0px 9px #0003;
}

label {
    color: #ffffff;
}

.form__input-container textarea {
    resize: none;
    min-height: 90px;
    font-family: inherit; /* PARA QUE NO SE PONGA LA FUENTE DEFAULT */
}

/* .form__input-container:active {
    border: none;        HAY QUE SACAR LOS BORDER CUANDO SE ESTA ESCRIBIENDO
} */                         

button {
    width: 67vh;
    margin-top: 8px;
    padding: 12px;
    background-color: #171e28;
    color: 	#ffffff;
    border: none;
}

button:hover {
    background-color: #f4af03;
    color: #171e28;
    transition-property: background color, color;
    transition-duration: 0.3s;
}

button:active {
    background-color: #ffff;
    color: #243132;
}

/* ------------------ FIN FORM ------------------ */