body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    /* background: linear-gradient(#425c5e, #2b3f41); */    /* HAY QUE REVISAR EL FONDO */
}

/* ------------------ INICIO FORM ------------------ */

form {
    background-color: #171e28;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 55px #2f3640;
    margin-top: 50px;
    border-radius: 10px;
}

.form_input {
    padding: 6px 20px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #2f3640;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
    margin: 6px 0px;
}

input:hover {
    cursor: default;
    background-color: #212a33;
}

fieldset {
    margin: 10px 0;
    border: 1px solid #f4af03;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
    color: #f4af03;
    text-align: center;
}

button {
    width: 30%;
    height: 25px;
    background-color: #2f3640;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f4af03;
    color: 	#171e28;
    transition-property: background color, color;
    transition-duration: 0.5s;
}

::placeholder {
    color: #869d9f;
} 

#1{
    color: #eee;
    text-align: center;
}

#q2{
    color: #eee;
    text-align: center;
}

/* ------------------ FIN FORM ------------------ */
